:root {
    --text-color-typing: #b76c6c;
    --text-color-typing-correct: #d4d6e5;
    --bg-typing-box: #5f6588;

    --bg-next-key: #c1c4d9;
    --text-color-next-key: #2a2f50;

    --bg-modifier: #c1c4d9;
    --text-color-modifier: #2a2f50;

    --color-primary: #d4d6e5;
    --color-primary-hover: #8a8eaf;
    --color-third-hover: #7981af;
    --color-secondary: #ffffff;

    --bg-general: #d6d4ec;
    --color-third: #5f6588;

    --border-keyboard: #b8b6b6;
    --bg-lesson-complete: #5f6588;

    --font-size-lg: 1.25rem;
    --font-size-md: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 4rem;
    --font-size-7xl: 5rem;
    --font-size-8xl: 6rem;

    --bg-hand-thumb: #f87171;
    --bg-hand-index: #6ee7b7;
    --bg-hand-middle: #60a5fa;
    --bg-hand-ring: #a855f7;
    --bg-hand-pinky: #fbbf24;
}

.dark {
    --text-color-typing: #b43939;
    --text-color-typing-correct: #aeaec6;
    --bg-typing-box: #242634;

    --bg-next-key: #5f6588;
    --text-color-next-key: #b8b6b6;

    --bg-modifier: #5f6588;
    --text-color-modifier: #b8b6b6;

    --color-primary: #c1c4d9;
    --color-secondary: #ffffff;
    --color-third: #242634;

    --color-primary-hover: #9499c0;
    --color-third-hover: #424560;

    --bg-general: #5c6293;

    --border-keyboard: #b8b6b6;
    --bg-lesson-complete: #242634;

    --bg-hand-thumb: #f87171;
    --bg-hand-index: #6ee7b7;
    --bg-hand-middle: #60a5fa;
    --bg-hand-ring: #a855f7;
    --bg-hand-pinky: #fbbf24;
}
body {
    background-color: var(--bg-general);
}
/* Text Color Classes */
.text-color-primary {
    color: var(--color-primary);
}
.text-color-secondary {
    color: var(--color-secondary);
}
.text-color-third {
    color: var(--color-third);
}
.text-color-typing {
    color: var(--text-color-typing);
}
.text-color-typing-correct {
    color: var(--text-color-typing-correct);
}

/* Background Color Classes */
.bg-color-primary {
    background-color: var(--color-primary);
}
.bg-color-secondary {
    background-color: var(--color-secondary);
}
.bg-color-third {
    background-color: var(--color-third);
}
.bg-typing-box {
    background-color: var(--bg-typing-box);
}
.bg-lesson-complete {
    background-color: var(--bg-lesson-complete);
}

/* Hover Effect Classes */
.hover\:text-color-primary:hover {
    color: var(--color-primary-hover);
}
.hover\:text-color-third:hover {
    color: var(--color-third-hover);
}
.hover\:bg-color-primary:hover {
    background-color: var(--color-primary-hover);
}
.hover\:bg-color-third:hover {
    background-color: var(--color-third-hover);
}
.hover\:text-color-third-hover-text:hover {
    color: var(--color-third-hover);
}
.hover\:text-color-primary-hover-text:hover {
    color: var(--color-primary-hover);
}

/* Modifier Classes */
.bg-color-modifier {
    background-color: var(--bg-modifier);
}
.text-color-modifier {
    color: var(--text-color-modifier);
}

/* Other Utility Classes */
.keyboard-border {
    border-color: var(--border-keyboard);
}
.lesson-complete {
    background-color: var(--bg-lesson-complete);
    color: var(--color-primary);
}
.next-key {
    background-color: var(--bg-next-key);
    color: var(--text-color-next-key);
}
.shift-key,
.alt-key {
    background-color: var(--bg-modifier);
    color: var(--text-color-modifier);
}
.bg-typing-box-bg {
    background-color: var(--bg-typing-box);
}

/* Placeholder Classes */
.placeholder-color-primary::placeholder {
    color: var(--color-primary);
}
.placeholder-color-third::placeholder {
    color: var(--color-third);
}
.placeholder-color-secondary::placeholder {
    color: var(--color-secondary);
}

/* Right Hand */
.right-hand-thumb {
    position: absolute;
    top: 44%;
    left: 17%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-thumb);
    border-radius: 9999px;
}

.right-hand-index {
    position: absolute;
    top: 14%;
    left: 34%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-index);
    border-radius: 9999px;
}

.right-hand-middle {
    position: absolute;
    top: 5%;
    left: 47%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-middle);
    border-radius: 9999px;
}

.right-hand-ring {
    position: absolute;
    top: 12%;
    left: 60%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-ring);
    border-radius: 9999px;
}

.right-hand-pinky {
    position: absolute;
    top: 24%;
    left: 72%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-pinky);
    border-radius: 9999px;
}

/* Left Hand */
.left-hand-thumb {
    position: absolute;
    top: 44%;
    left: 70%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-thumb);
    border-radius: 9999px;
}

.left-hand-index {
    position: absolute;
    top: 14%;
    left: 53%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-index);
    border-radius: 9999px;
}

.left-hand-middle {
    position: absolute;
    top: 5%;
    left: 40%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-middle);
    border-radius: 9999px;
}

.left-hand-ring {
    position: absolute;
    top: 12%;
    left: 27%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-ring);
    border-radius: 9999px;
}

.left-hand-pinky {
    position: absolute;
    top: 24%;
    left: 14%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-hand-pinky);
    border-radius: 9999px;
}
